
<h3 contenteditable ><i>Капібара</i></h3>
<h4 contenteditable lang="['vi', 'be']">Loài gặm nhấm lớn nhất thế giới</h4>

<p contenteditable class="opsz_text" lang="['vi', 'be']">
<span lang="vi">Chuột lang nước (Hydrochoerus hydrochaeris) là loài gặm nhấm lớn nhất thế giới thuộc Họ Chuột lang. Cũng được gọi là capybara và chigüire, đây là một thành viên của chi Hydrochoerus, trong đó nó là một trong hai loài còn sinh tồn, loài kia là chuột lang nước nhỏ (Hydrochoerus isthmius). Những họ hàng gần khác của nó là chuột lang nhà và Kerodon rupestris, và nó có quan hệ xa với Dasyprocta, Chinchilla, và Myocastor coypus.</span> <span lang="be">Некаторыя аўтары адносяць капібару да монатыповага сямейства вадасвінкавых (Hydrochoeridae). Капібара — траваедная жывёла з вельмі масіўным целаскладам (вага можа даходзіць да 65 кг), якая вядзе паўводны лад жыцця і пражывае ў Паўднёвай Амерыцы.</span> 
</p>

<div class="columns opsz_caption">
<p contenteditable">
<span lang="be">Капіба́ра (гуар.: Kapiÿva), або Вадасві́нка (Hydrochoerus hydrochaeris) — самы вялікі сучасны грызун, належыць да сямейства свінкавых.</span> <span lang="vi">Chuột lang nước là loài đặc hữu ở Nam Mỹ, cư ngụ ở các trảng cỏ và rừng lá rậm, gần nguồn nước. Chúng là loài có tập tính xã hội cao và có thể tập hợp thành nhóm nhiều đến 100 cá thể, tuy thường sống thành đám 10-20 con. Chuột lang nước không phải một loài bị đe dọa và được phép săn để lấy thịt và lông, và còn để lấy dầu từ lớp mỡ.</span> 
</p>
<p lang="en">
This sample text was assembled from the <a href="https://be.wikipedia.org/w/index.php?title=Капібара&oldid=2560898">Belarusian</a> and <a href="https://vi.wikipedia.org/w/index.php?title=Chuột_lang_nước&oldid=63151980
">Vietnamese</a> Wikipedia pages about the the Capybara.
They were sampled in November 2020, and lightly edited for typography.
</p>
</div>
