
<h3 contenteditable ><i>Прави Јежеви</i></h3>
<h4 contenteditable lang="['sr', 'eu']">Trikua arrisku baten aurrean arantzadun bola bihurtzen da</h4>

<p contenteditable class="opsz_text" lang="['sr', 'eu']">
<span lang="sr">Све врсте јежева се користе одбрамбеном способношћу да се умотају у тесну лоптицу, како би бодље биле уперене према спољашњости. Неки пустињски јежеви су еволуцијом смањили тежину, па је њима ефективнији други начин одбране - вероватно ће само отрчати, а понекад чак и сами напасти уљеза, покушајући да га убоду својим бодљама.</span> <span lang="eu">Hainbat sagu eta sator espeziek bezala, trikuak ere badu sugearen pozoiarekiko inmunitate txiki bat. Erinazina molekulak ematen dio horretarako gaitasuna. Sugearen horzkada handia bada ordea hiltzeko arriskua badu.</span> <span lang="sr">Већину дана проведу спавајући или у рупи у земљи или су сакривени испод траве и камења. Опет, различите врсте имају мало другачије особине, али генерално јежеви ископавају јаме као склоништа. Сви дивљи јежеви су у стању да хибернирају, мада не раде сви то; хибернација зависи од температуре и распрострањености хране и саме врсте.</span> 
</p>

<div class="columns opsz_caption">
<p contenteditable">
<span lang="eu">Triku espezie guztiak oso antzekoak dira, eta bizitzeko era bertsua dute. 25 cm inguru luze izaten dira. Gorputzaren gaineko aldea eta alboak arantzaz estaliak dituzte, eta azpiko aldea, hankak eta atzaparrak, berriz, ile gogor latz samarrez beteak. Belarriak, isatsa eta zangoak laburrak dituzte, eta muturra kono egiturakoa, zorrotza.</span> <span lang="sr">Јежеви су ноћне животиње, иако неке врсте могу с времена на време да излазе и дању у потрагу за храном.</span> <span lang="eu">Trikua animalia gauzalea da, iluntzen duenean ateratzen da janari bila. Barakuiluak, bareak, intsektuak eta harrak jaten ditu batik bat, baina baita txorien arrautzak eta suge txikiak ere. Animalia haragijalea bada ere, dieta osatzeko zizak, fruitu gorriak, belarren sustraiak eta meloia ere jaten dute.</span> 
</p>
<p lang="en">
This sample text was assembled from the <a href="https://sr.wikipedia.org/w/index.php?title=Прави_јежеви&oldid=23054290
">Seriban</a> and <a href="https://eu.wikipedia.org/w/index.php?title=Triku&oldid=8183250
">Basque</a> Wikipedia pages about the the Hedgehog.
They were sampled in November 2020, and lightly edited for typography.
</p>
</div>
